<div class="ui form">
 <%= form_for book do |f| %>
    
    <div class="field">
      <%= f.label :title %>
      <%= f.text_field :title %>
    </div>
  
    <div class="field">
      <%= f.label :description %>
      <%= f.text_area :description %>
    </div>
  
    <div class="field">
      <%= f.label :file %>
      <%= f.file_field :image %>
    </div>


    <%= f.submit 'Submit File', class: 'ui button' %>
    <%= link_to 'Back', books_path, class: 'ui button' %>

  <% end %>
<div>